#fileTable{
    margin: 0 auto;
}

thead {
    background-color: #858585;
}

table {
    border-collapse: collapse;
    background-color: #e8e8e8;
}

th, td {
    border: 1px solid #000;
    padding: 8px;
    text-align: center;
}