h1 {
    width: 200px;
    margin: 0 auto;
}

.search {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}

#searchInput {
    width: 200px;
}

#fileTable{
    margin: 0 auto;
}

thead {
    background-color: #858585;
}

table {
    border-collapse: collapse;
    background-color: #e8e8e8;
}

th, td {
    border: 1px solid #000;
    padding: 8px;
    text-align: center;
}

.fileUploader {
    align-items: center;
    margin: 20px auto;
    height: 60px;
    width: 665px;
    padding: 20px;
    margin-top: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #ffffff;
}

#comment {
    margin: 10px 255px;
    width: 400px;
}